<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1</string>
	<key>port</key>
	<string>6099</string>
	<key>ip</key>
	<string>http://221.2.85.190</string>
	<key>weatherid</key>
	<string>101010100</string>
	<key>city</key>
	<string>西安</string>
	<key>groupid</key>
	<string>1</string>
</dict>
</plist>
